<section class="py-14 grid grid-cols-2">
    <div class="flex flex-col p-4 pr-10 pl-14">
        <h1 class="text-6xl font-semibold mb-4">Let the sales get Nicked, not you</h1>
        <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        <div class="mt-8">
            {{ render "partials/downloadButton.html" "Get Nicked on Chrome • It's free" }}
        </div>
    </div>

    <div>
        <img src="https://as1.ftcdn.net/v2/jpg/02/41/43/18/1000_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" alt="">
    </div>
</section>

<section class="bg-indigo-900 p-4">
    <div class="flex justify-center items-center px-10 py-14">
        <h2 class="text-5xl text-center font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt</h2>
    </div>

    <div class="columns-2 py-4">
        <img src="https://as1.ftcdn.net/v2/jpg/02/41/43/18/1000_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" alt="">

        <div class="px-8 flex flex-col gap-2">
            <span class="uppercase text-indigo-300 text-sm font-semibold">USP 1</span>
            <h3 class="text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        </div>
    </div>

    <div class="columns-2 py-4">
        <img src="https://as1.ftcdn.net/v2/jpg/02/41/43/18/1000_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" alt="">

        <div class="px-8 flex flex-col gap-2">
            <span class="uppercase text-emerald-500 text-sm font-semibold">USP 2</span>
            <h3 class="text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        </div>
    </div>

    <div class="columns-2 py-4">
        <img src="https://as1.ftcdn.net/v2/jpg/02/41/43/18/1000_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg" alt="">

        <div class="px-8 flex flex-col gap-2">
            <span class="uppercase textamber-500 text-sm font-semibold">USP 3</span>
            <h3 class="text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
        </div>
    </div>
</section>

<section class="py-10 flex flex-col justify-center items-center">
    <h2 class="text-center max-w-2xl text-4xl font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt</h2>

    <div class="mt-8">
        {{ render "partials/downloadButton.html" "Get Nicked on Chrome • It's free" }}
    </div>
</section>
